<div>
    {% include 'supervisely/src/ui/input.html' %}
    {% include 'supervisely/src/ui/classes.html' %}
    {% include 'supervisely/src/ui/datasets.html' %}
    {% include 'supervisely/src/ui/settings.html' %}
    Selected classes: {{state.selectedClasses}}
    <el-tabs type="border-card" class="mt10">
        <el-tab-pane label="Confusion Matrix">
            {% include 'supervisely/src/ui/confusionmatrix.html' %}
        </el-tab-pane>
        <el-tab-pane label="Per Images">
            {% include 'supervisely/src/ui/per_image_metrics.html' %}
        </el-tab-pane>
        <el-tab-pane label="Per Classes">
            {% include 'supervisely/src/ui/per_class_metrics.html' %}
        </el-tab-pane>
        <el-tab-pane label="Overall">
            {% include 'supervisely/src/ui/overall_metrics.html' %}
        </el-tab-pane>
    </el-tabs>
</div>