<div>
    <sly-field title="Object detection metrics" description="Select GT and Det projects">
        <sly-icon slot="icon" :options="{ color: '#ff7c49', bgColor: '#fff39b', rounded: false }">
            <i class="zmdi zmdi-view-list-alt"></i>
        </sly-icon>
        <div class="fflex">
            <sly-field title="GT project">
                <sly-select-project v-model="state.gtProjectId" :workspace-id="data.workspaceId" :project-id.sync="state.projectId"></sly-select-project>
            </sly-field>
            <sly-field title="Prediction project">
                <sly-select-project v-model="state.predProjectId" :workspace-id="data.workspaceId" :project-id.sync="state.projectId"></sly-select-project>
            </sly-field>
        </div>
    </sly-field>
</div>