<sly-card title="Compare and select classes"
          subtitle="Choose classes that will be used for performance analysis"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed3"
          :disabled="{disabled: state.disabled3, message: 'Complete previous steps'}"
          ref="step3">

    <el-button v-if="!data.classesTable" class="regular" type="primary" @click="command('get_classes')">
        Compare classes
    </el-button>
    <el-table v-if="data.classesTable"
              class="ultra-table"
              :data="data.classesTable"
              ref="clsTable"
              @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.name1);
                }
                "
    >
        <el-table-column type="selection" width="55"
                         :selectable="() => !state.done3"
        >
        </el-table-column>
        <el-table-column sortable prop="name1" label="Classes in GT project">
            <template scope="scope">
                <div v-if="scope.row.name1">
                    <i class="zmdi zmdi-circle" :style="{color: scope.row.color1}"></i>
                    <span class="mr10 ml10">{{ scope.row.name1 }}</span>
                    <span style="color: #7f858e;"><i
                            :class="scope.row.shapeIcon1"></i> {{ scope.row.shape1 }}</span>
                </div>
            </template>
        </el-table-column>
        <el-table-column prop="info" label="Compare">
            <template scope="scope">
                <div :style="{color: scope.row.infoColor}">
                        <span style="width: 25px; display: inline-block">
                                <i v-for="icon in scope.row.infoIcon" :class="icon"></i>
                        </span>
                    <span class="mr10 ml10">{{ scope.row.infoMessage }}</span>
                </div>
            </template>
        </el-table-column>
        <el-table-column sortable prop="name2" label="Classes in PRED project">
            <template scope="scope">
                <div v-if="scope.row.name2">
                    <i class="zmdi zmdi-circle" :style="{color: scope.row.color2}"></i>
                    <span class="mr10 ml10">{{ scope.row.name2 }}</span>
                    <span style="color: #7f858e;"><i
                            :class="scope.row.shapeIcon2"></i> {{ scope.row.shape2 }}</span>
                </div>
            </template>
        </el-table-column>
    </el-table>
    <el-button v-if="!state.done3 && data.classesTable"
               class="regular mt5"
               type="primary"
               :disabled="state.selectedClasses.length === 0"
               @click="command('set_classes')">Set {{state.selectedClasses.length}} classes
    </el-button>
    <div v-if="state.done3">
        <div>
            <i class="zmdi zmdi-check-circle mr5" style="color: #13ce66"></i>
            <span style="color: #5a6772;">
                Selected  {{state.selectedClasses.length}} classes
            </span>
        </div>
        <el-button type="warning" class="regular mt10" :plain="true"
                   @click="state.restartFrom = 3; $refs.clsTable.clearSelection()">
            <i class="zmdi zmdi-rotate-left mr5"></i> Reset classes
        </el-button>
    </div>
</sly-card>