<div class="fflex" style="align-items: stretch">
    <sly-card title="Ground Truth Project" style="width: 50%" class="mr15">
        <sly-select-team-workspace
                :team-id.sync="state.GTteamId"
                :workspace-id.sync="state.GTworkspaceId"></sly-select-team-workspace>
        <sly-field title="">
            <sly-select-project v-model="state.gtProjectId" :workspace-id="state.GTworkspaceId"
                                :project-id.sync="state.gtProjectId"></sly-select-project>
        </sly-field>
        <sly-field v-if="state.gtProjectName"
                   title="" description="Project">
            <a slot="title" target="_blank"
               :href="`/projects/${state.gtProjectId}/datasets`">{{state.gtProjectName}}</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${state.gtProjectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>

    <sly-card title="Prediction Project" style="width: 50%">
        <sly-select-team-workspace :team-id.sync="state.PRteamId"
                                   :workspace-id.sync="state.PRworkspaceId"></sly-select-team-workspace>
        <sly-field title="">
            <sly-select-project v-model="state.predProjectId" :workspace-id="state.PRworkspaceId"
                                :project-id.sync="state.predProjectId"></sly-select-project>
        </sly-field>
        <sly-field v-if="state.predProjectName"
                   title="" description="Project">
            <a slot="title" target="_blank"
               :href="`/projects/${state.predProjectId}/datasets`">{{state.predProjectName}}</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${state.predProjectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>
</div>

<el-button v-if="!state.doneInput"
           :disabled="!state.gtProjectId || !state.predProjectId"
           class="regular" type="primary" @click="command('set_projects')" >
    Set projects
</el-button>
<div v-if="state.doneInput">
    <i class="zmdi zmdi-check-circle mr5" style="color: #13ce66"></i>
    <span style="color: #5a6772;">
                Projects selected.
        </span>
</div>
<el-button type="warning" class="regular mt10" :plain="true"
           @click="state.restartFrom = 1; state.doneInput = false; command('restart')"
           v-if="state.doneInput">
    <i class="zmdi zmdi-rotate-left mr5"></i> Reset projects
</el-button>