<el-collapse v-model="state.perClassActiveNames" style="background-color: #E1E1E0;">
    <el-collapse-item title="Per Class Metrics" name="per_class_table">
        <div v-if="!state.perClassShow1">Please, select Classes and manage Settings.</div>
        <sly-field v-if="state.perClassShow1"
                   title="Per Class Metrics Table"
                   description="Select Class in Class Metrics Table to preview Images with selected class original and detected objects.">
            <el-table :data="data.perClassExtendedTable" border>
                <el-table-column prop="className" label="name" sortable></el-table-column>
                <el-table-column prop="TP" label="TP" sortable></el-table-column>
                <el-table-column prop="FP" label="FP" sortable></el-table-column>
                <el-table-column prop="npos" label="Count" sortable></el-table-column>
                <el-table-column prop="Recall" label="R" sortable></el-table-column>
                <el-table-column prop="Precision" label="P" sortable></el-table-column>
                <el-table-column prop="AP" label="AP" sortable></el-table-column>
                <el-table-column prop="tag" label="Action">
                    <template slot-scope="{ row }">
                        <el-button
                                class="regular" type="primary" size="mini"
                                @click="state.selectedClassName = row.className; command('view_class')">
                            Preview
                        </el-button>
                    </template>
                </el-table-column>
            </el-table><!--class Table with Evaluate buttons-->
        </sly-field>
    </el-collapse-item>
    <el-collapse-item title="Image Metrics Table with Chart" name="per_class_image_statistic_table">
        <div v-if="!state.perClassShow2">Please, select Class.</div>
        <sly-field v-if="state.perClassShow2"
                   :title="data.perClassImageStatTableInfo"
                   description="Select row in Image Metrics Table to preview Images with original annotations and Detections.">
            <sly-notification class="mt10"
                              :options="data.notification.options"
                              :content="data.notification.content">

            </sly-notification>
            <div class="fflex">
                <!--            style="flex: 1; align-left: flex-start;"-->
                <sly-table v-loading="data.loading" style="width: 55%"
                           :options="{perPage: 5, pageSizes: [5, 10, 15, 20, 25, 50, 100], fixColumns: 1}"
                           :content="data.perClassSingleImagesTable"
                           @input="state.selection = $event; command('show_images_per_class')"
                ></sly-table>
                <!--            class="ml10 mr10"-->
                <!--            style="width: 450px"-->
                <!--            style="flex: 1; align-left: flex-start; width: 450px"-->
                <sly-line-chart class="mt65 ml10" style="width: 45%"
                                :options.sync="data.perClassLineChartOptions"
                                :content="data.perClassLineChartSeries">
                </sly-line-chart>
            </div>
        </sly-field>
    </el-collapse-item>
    <el-collapse-item title="Grid Gallery" name="per_class_gallery">
        <div v-if="state.perClassShow1 && !state.perClassShow2">
            Please, select Class.
        </div>
        <div v-if="state.perClassShow1 && state.perClassShow2 && !state.perClassShow3">
            Please, select row in Image Statistic Table.
        </div>
        <sly-field v-if="state.selection.selectedColumnName && state.perClassShow3"
                   :title="data.perClassGalleryTitle"
                   description="Original annotations VS Detections">
            <div class="fflex">
                <sly-grid-gallery v-if="state.selection.selectedColumnName && state.perClassShow3"
                                  :content="data.perClass.content"
                                  :options="data.perClass.options"
                                  :active-figure="state.activeFigure"
                                  style="width: 50%">
                    <template v-slot:card-footer="{ annotation }">
                        <div class="mt5" style="text-align: center">
                            <el-tag type="primary">{{annotation.title}}</el-tag>
                        </div>
                    </template>
                </sly-grid-gallery>

                </br>
                <el-table class="mb15"
                          :data="data.GalleryTable2"
                          @cell-mouse-enter="(row, column, cell, event) =>{
                            state.activeFigure = row['id_pair'];
                          }"
                          @cell-mouse-leave="state.activeFigure = null"
                          max-height="250" style="width: 50%">
                    <el-table-column label="Ground Truth" align="center" sortable>
                        <template scope="scope">
                            <div v-if="scope.row.gt.class">
                                <i class="zmdi zmdi-circle" :style="{color: scope.row.gt.color}"></i>
                                <span class="ml5 mr10">{{ scope.row.gt.class }}</span>
<!--                                <span style="color: #7f858e;">-->
<!--                                <span style="font-weight: bold; font-size: 12px;">id</span> {{ scope.row.gt.id }}</span>-->
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="IoU" align="center" :sortable="true">
                        <template scope="scope">
                            <div v-if="scope.row.iou">
                                <span class="ml5 mr10">{{ scope.row.iou }}</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Result" align="center" :sortable="true">
                        <template scope="scope">
                            <div v-if="scope.row.mark">
                                <span class="ml5 mr10">{{ scope.row.mark }}</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Confidence" align="center" :sortable="true">
                        <template scope="scope">
                            <div v-if="scope.row.conf">
                                <span class="ml5 mr10">{{ scope.row.conf }}</span>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="Prediction" align="center" :sortable="true">
                        <template scope="scope">
                            <div v-if="scope.row.pr.class">
                                <i class="zmdi zmdi-circle" :style="{color: scope.row.pr.color}"></i>
                                <span class="ml5 mr10">{{ scope.row.pr.class }}</span>
<!--                                <span style="color: #7f858e;">-->
<!--                                <span style="font-weight: bold; font-size: 12px;">id</span> {{ scope.row.pr.id }}</span>-->
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </sly-field>
    </el-collapse-item>
</el-collapse>