<el-collapse v-model="state.perClassActiveNames" style="background-color: #E1E1E0;">
    <el-collapse-item title="Per Class Metrics" name="per_class_table">
        <div v-if="!state.perClassShow1">Please, select Classes and manage Settings.</div>
        <sly-field v-if="state.perClassShow1"
                   title="Per Class Metrics Table"
                   description="Select Class in Class Metrics Table to preview Images with selected class original and detected objects.">
            <el-table :data="data.perClassExtendedTable" border>
                <el-table-column prop="className" label="name" sortable></el-table-column>
                <el-table-column prop="TP" label="TP" sortable></el-table-column>
                <el-table-column prop="FP" label="FP" sortable></el-table-column>
                <el-table-column prop="npos" label="Count" sortable></el-table-column>
                <el-table-column prop="Recall" label="R" sortable></el-table-column>
                <el-table-column prop="Precision" label="P" sortable></el-table-column>
                <el-table-column prop="AP" label="AP" sortable></el-table-column>
                <el-table-column prop="tag" label="Action">
                    <template slot-scope="{ row }">
                        <el-button
                                class="regular" type="primary" size="mini"
                                @click="state.selectedClassName = row.className; command('view_class')">
                            Preview
                        </el-button>
                    </template>
                </el-table-column>
            </el-table><!--class Table with Evaluate buttons-->
        </sly-field>
    </el-collapse-item>
    <el-collapse-item title="Image Metrics Table with Chart" name="per_class_image_statistic_table">
        <div v-if="!state.perClassShow2">Please, select Class.</div>
        <sly-field v-if="state.perClassShow2"
                   :title="data.perClassImageStatTableInfo"
                   description="Select row in Image Metrics Table to preview Images with original annotations and Detections.">
            <sly-notification class="mt10"
                              :options="data.notification.options"
                              :content="data.notification.content">

            </sly-notification>
            <div class="fflex">
                <!--            style="flex: 1; align-left: flex-start;"-->
                <sly-table v-loading="data.loading" style="width: 55%"
                           :options="{perPage: 5, pageSizes: [5, 10, 15, 20, 25, 50, 100], fixColumns: 1}"
                           :content="data.perClassSingleImagesTable"
                           @input="state.selection = $event; command('show_images_per_class')"
                ></sly-table>
                <!--            class="ml10 mr10"-->
                <!--            style="width: 450px"-->
                <!--            style="flex: 1; align-left: flex-start; width: 450px"-->
                <sly-line-chart class="mt65 ml10" style="width: 45%"
                                :options.sync="data.perClassLineChartOptions"
                                :content="data.perClassLineChartSeries">
                </sly-line-chart>
            </div>
        </sly-field>
    </el-collapse-item>
    <el-collapse-item title="Grid Gallery" name="per_class_gallery">
        <div v-if="state.perClassShow1 && !state.perClassShow2">
            Please, select Class.
        </div>
        <div v-if="state.perClassShow1 && state.perClassShow2 && !state.perClassShow3">
            Please, select row in Image Statistic Table.
        </div>
        <sly-field v-if="state.selection.selectedColumnName && state.perClassShow3"
                   :title="data.perClassGalleryTitle"
                   description="Original annotations VS Detections">
            <sly-grid-gallery v-if="state.selection.selectedColumnName && state.perClassShow3"
                              :content="data.perClass.content"
                              :options="data.perClass.options"
                              :active-figure="state.activeFigure">
                <template v-slot:card-footer="{ annotation }">
                    <div class="mt5" style="text-align: center">
                        <el-tag type="primary">{{annotation.title}}</el-tag>
                        </br>
                        </br>
                        <div v-for="f in annotation.figures"
                             :key="f.id"
                             :style="[state.activeFigure === f.id ? 'backgroundColor: red; color: white' : '' ]"
                             @mouseenter="state.activeFigure = f.id"
                             @mouseleave="state.activeFigure = null"
                        >
                            Figure: {{f.classTitle}} (ID:{{ f.id }})
                        </div>
                    </div>
                </template>
            </sly-grid-gallery>

            <el-table :data="data.GalleryTable" border
                      @cell-mouse-enter="(row, column, cell, event) =>{
                        state.activeFigure = { row: row, column: column, cell: cell };
                        if (column.property != 'GroundTruth' && column.property != 'Prediction') return;
                        state.activeFigure = row[column.property];
                      }"
                      @cell-mouse-leave="state.activeFigure = null">
                <el-table-column prop="GroundTruth" label="gt" align="center"></el-table-column>
                <el-table-column prop="IoU" label="iou" :sortable="true" align="center"></el-table-column>
                <el-table-column prop="Mark" label="mark" align="center"></el-table-column>
                <el-table-column prop="Confidence" label="confidence" :sortable="true" align="center"></el-table-column>
                <el-table-column prop="Prediction" label="prediction" align="center"></el-table-column>
            </el-table>

        </sly-field>
    </el-collapse-item>
</el-collapse>