<sly-card class="mt15" title="Settings" subtitle="Base settings: Percentage, IoUThreshold, ScoreThreshold">
    <sly-field
            title="Sample percent"
            description="Percent of images that will be sampled randomly for metrics evaluation">
        <div class="fflex">
            <el-slider
                    class="ml10 mr10"
                    style="flex: 1"
                    :min="1"
                    :max="100"
                    v-model="state.samplePercent"
                    @change="state.samplePercent = $event;"
            >
            </el-slider>
            <div class="mr10">{{state.samplePercent}}% / {{Math.round(data.totalImagesCount / 100 * state.samplePercent)}}
        </div>
    </sly-field>
    <sly-field title="IoU threshold" description="intersection over union threshold values object to be positive selected">
        <div class="fflex">
            <el-slider class="ml10 mr10"
                       v-model="state.IoUThreshold"
                       :min="1"
                       :max="100"
                       @change="state.IoUThreshold = $event;"
                       style="flex: 1">
            </el-slider>
            <div class="mr10">{{state.IoUThreshold}}%</div>
        </div>
    </sly-field>
    <sly-field title="Score threshold"
               description="score threshold values object to be positive selected"
               class="ml20 mr20"
    >
        <div class="fflex">
            <el-slider class="ml10 mr10"
                       v-model="state.ScoreThreshold"
                       :min="1"
                       :max="100"
                       @change="state.ScoreThreshold = $event;"
                       style="flex: 1">
            </el-slider>
            <div class="mr10">{{state.ScoreThreshold}}%</div>
        </div>
    </sly-field>
    <el-button class="regular" type="primary" @click="command('evaluate_button_click')">buttonName</el-button>
</sly-card>