<sly-card title="Settings"
          subtitle="Base settings: Percentage, IoUThreshold, ScoreThreshold"
          :options="{collapsable: true}"
          :collapsed.sync="state.GlobalSettingsCollapsed"
          :disabled="{disabled: state.GlobalSettingsDisabled, message: 'Please, select classes'}"
          ref="GlobalStep2"
>
    <sly-field
            title="Sample percent"
            description="Percent of images that will be sampled randomly for metrics evaluation">
        <div class="fflex">
            <el-slider class="ml10 mr10"
                    style="width: 450px"
                    :min="1"
                    :max="100"
                    v-model="state.samplePercent"
                    show-input
                    @change="state.samplePercent = $event;"
            >
            </el-slider>
            <div class="mr10">{{state.samplePercent}}% / {{Math.round(data.totalImagesCount / 100 * state.samplePercent)}}</div>
        </div>
    </sly-field>
    <sly-field title="IoU threshold" description="intersection over union threshold values object to be positive selected">
        <div class="fflex">
            <el-slider class="ml10 mr10"
                       style="width: 450px"
                       :min="1"
                       :max="100"
                       v-model="state.IoUThreshold"
                       show-input
                       @change="state.IoUThreshold = $event;"
                       >
            </el-slider>
            <div class="mr10">{{state.IoUThreshold}}%</div>
        </div>
    </sly-field>
    <sly-field title="Score threshold"
               description="score threshold values object to be positive selected"
               class="ml20 mr20"
    >
        <div class="fflex">
            <el-slider class="ml10 mr10"
                       style="width: 450px"
                       :min="1"
                       :max="100"
                       v-model="state.ScoreThreshold"
                       show-input
                       @change="state.ScoreThreshold = $event;"
                       >
            </el-slider>
            <div class="mr10">{{state.ScoreThreshold}}%</div>
        </div>
    </sly-field>
    <div class="fflex">
        <el-button v-loading="state.loading" class="regular" type="primary" @click="command('evaluate_button_click')">Calculate metrics</el-button>
        <el-button class="regular" :disabled="state.settingsDisableBackBtn" type="primary" @click="command('back_to_classes')">Back to Classes</el-button>
    </div>

</sly-card>